stacked_lines.json
output/
*_consistent.json
*_stacked.json
persist.ipynb
.DS_Store
*.fits
.idea/
*.envr
# General file types
*.aux
*.bbl
*.blg
*.cprof
*.csv
*.dat
*.gz
*.hdf5
*.log
*.mp4
*.npy
*.npz
*.ods
*.out
*.pdf
*.pickle
*.png
*.pyc
*.swp
*.tar
*.toc
*.xmf
*.zip
*.*#
*~

# Files and folders
SN_m_tot_V2.0.txt

# Misc
*tmp*
*debug*
scripts/L4_Proj_Stock.py
scripts/time_evolution_csv_test.py
